/*************************************************
    GENERAL STYLES
 *************************************************/
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






/************************************************
    UTILITIES
 ************************************************/


/* !"DEBUG" DA ELIMINARE TERMINATO IL CODICE*/
.debug {
    background-color: rgba(0, 102, 255, 0.5);
    border: 1px solid #000;
}

.d-flex {
    display: flex;
}



 /************************************************
    SITE SECTIONS
 ************************************************/

 .containerWrapper {
    height: 100vh;
 }


 .container {
    height: 800px;
    width: 800px;
 }